[submodule "resources/zsh-autosuggestions"]
	path = resources/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "resources/zsh-syntax-highlighting"]
	path = resources/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "resources/fzf-tab"]
	path = resources/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "resources/zsh-vi-mode"]
	path = resources/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "emacs/doom"]
	path = emacs/doom
	url = https://github.com/doomemacs/doomemacs.git
