
/*
!/.gitignore
!/nvim
!/README.md
!/sing-box.json
!/sway
!/waybar
!/wofi
!/zshrc.zsh
!/zathura
!/atuin
!/resources
!/starship.toml
!/wezterm
!/gitui

.DS_Store
atuin/history.db
atuin/history.db-shm
atuin/history.db-wal
