
/*
!/.gitignore
!/.gitmodules
!/git.gitconfig
!/recipients.txt
!/.local.sh.age
!/scripts
!/nvim
!/README.md
!/waybar
!/zshrc.zsh
!/mako
!/niri
!/lemurs
!/fuzzel
!/rofi
!/zathura
!/atuin
!/resources
!/starship.toml
!/wezterm
!/gitui
!/zellij
!hugo.zsh
!/awesome
!/bat
!/swaylock
!/tlp
!/drun
!/fcitx5
!/environment.d

# Temp files
*~
*.tmp
*.temp
*.swp
*.swo
*.bak
.#*
\#*#

!/emacs
/emacs/*
!/emacs/doom
!/emacs/doom_generated
!/emacs/scratch
!/emacs/*.desktop
!/emacs/doom/**
/emacs/doom_generated/*
!/emacs/doom_generated/init.el
!/emacs/doom_generated/config.el
!/emacs/doom_generated/packages.el
/emacs/scratch/var/
!/emacs/scratch/init.el
!/emacs/scratch/pre-init.el
!/emacs/scratch/post-init.el
!/emacs/scratch/early-init.el
!/emacs/scratch/pre-early-init.el
!/emacs/scratch/post-early-init.el

.DS_Store
lazy-lock.json

atuin/history.db
atuin/history.db-shm
atuin/history.db-wal

.local.sh
