
/*
!/.gitignore
!/git.gitconfig
!/nvim
!/README.md
!/sing-box.json
!/sway
!/waybar
!/wofi
!/zshrc.zsh
!/zathura
!/atuin
!/resources
!/starship.toml
!/wezterm
!/gitui
!/zellij
!hugo.zsh
!/mynvim

.DS_Store
lazy-lock.json

atuin/history.db
atuin/history.db-shm
atuin/history.db-wal
