* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Liberation Mono;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin-right: 8px;
  padding: 3px 4px 3px;
  border-radius: 20px;
  transition: none;
  background: #383c4a;
}

#workspaces button {
  color: #7c818c;
  background: transparent;
  border-radius: 20px;
  padding: 1px 6px 1px 7px;
  font-size: 22px;
  transition: color 0.3s, background-color 0.3s;
}

#workspaces button.persistent {
  color: #7c818c;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  /*transition: none;*/
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: 20px;
  color: #383c4a;
  background: #7c818c;
}

#workspaces button.focused {
  color: white;
}

#language {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#keyboard-state {
  margin-right: 8px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#custom-pacman {
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#custom-mail {
  margin-right: 8px;
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#mode {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#clock {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#pulseaudio {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#cpu {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
  transition: background-color 2s;
}

#cpu.high {

  background: #bf616a;
}

#cpu.medium {

  background: #d08770;
}

#cpu.low {

  background: #8fbcbb;
}

#cpu.bottom {

  background: #81a1c1;
}

#custom-mem {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#temperature {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: background-color 2s;
  color: #ffffff;
  background: #383c4a;
}

#temperature.critical {
  background-color: #bc616a;
}

#bluetooth {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}



#backlight {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#battery {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: background-color 2s;
  color: #ffffff;
  background: #383c4a;
}

#battery.charging {
  color: #ffffff;
  background-color: #8fbcbb;
}

#battery.warning:not(.charging) {
  background-color: #ebcb8b;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #bf616a;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
